<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href="{{url_for('static', filename = 'files/Design.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Travel App</h1>

    <form method='POST' enctype='multipart/form-data'>
        {{form.hidden_tag()}}
        {{form.file(class='custom-button-class')}}
        {{form.submit(class='custom-button-class')}}
    </form>
</body>
</html>